.font-style{
	font-family: "Roboto Mono", sans-serif;
	color: #a66b00;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.centercontent{
	padding: 32px;
	max-width: 1000px;
	min-height: 100vh;
}

.config p {
	font-size: 0.5rem;
	margin-left: 26%;
	text-align: right;
	position: relative;
	display: inline-block;
	width: 20%;
	}	

.config-icon{
	width: 0.9rem;
	}
	
.middle{
	min-height: 67vh;
	font-size: 24px;
	font-weight: 500;
	align-items: center;
	display: grid;
	font-family: monospace;
	}

.keys{
	font-size: 0.8rem;
	line-height: 1.5rem;
	}

.kbd{
	background-color: #a66b00;
	color: #f2aa00;
	width: fit-content;
	}

.left{
	width: fit-content;
	}
	
.user{
	font-size: 0.7rem;
	line-height: 2.3rem;
	position: relative;
	top: 0.8rem;
	}
	
.right{
	width: fit-content;
	}

.empty{
	width: 10%;
	}

.bold{
	font-weight: 500;
	}

.top {
	font-size: .65rem;
	align-items: center;
	position: relative;
	width: 30%;
	}
	
.icon{
	width: 1.25em;
	float: left;
	position: relative;	
	top: 1.3rem;
	}
	
.icon2{
	width: 15px;
	float: left;
	margin-right: 0.2rem;
	position: relative;	
	top: .1rem;
	}

.icon3{
	width: 1rem;
	float: left;
	}
	

.footer-text{
	font-size: 0.8rem;
	float: right;
	}	
	
.main-icon{
	float: left;
	align-items: center;
	display: grid;
	}
	
.toolbar{
	float:left;
	}
	
.mtype{
	font-size: 32px;
	width: 250px;
	align-items: center;
	font-weight: 500;
	}
	
.msee{
	width: 250px;
	position: relative;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 0.6rem;
	}

.cmd{
	font-size: 0.75rem;
	}

.lang{
	width: fit-content;
	margin: auto;
	line-height: 1rem;
	}
	
	
a:link{
color: #a66b00;
}	

a.yellow:link{
	color: yellow;
	}
	
a:visited {
  color: #a66b00;
}

a.yellow:visited {
  color: yellow;
}

a:hover{
	color: white;
	}
	
a.yellow:hover{
	color: white;
}

.width-fit{
	width: fit-content;
	}
	
.orange{
	background-color: #f2aa00;
	}